<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.wodedata.GIFEmoji</string>
		<string>group.com.wodedata.LWInputMethod</string>
		<string>group.com.wodedata.MarkDownEditer</string>
		<string>group.com.wodedata.MyBrowser</string>
		<string>group.com.wodedata.MyInputMethod</string>
		<string>group.com.wodedata.photodiy</string>
		<string>group.com.wodedata.test</string>
	</array>
</dict>
</plist>
